src/main/resources/context_scheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 
(https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" 
elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Campaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LabelOperation" type="xs:string" />
              <xs:element name="InseeContext" type="xs:string" />
              <xs:element name="Enq_ObjectifsCourts" type="xs:string" />
              <xs:element name="Enq_CaractereObligatoire" 
type="xs:boolean" />
              <xs:element name="Enq_QualiteStatistique" type="xs:boolean" 
/>
              <xs:element name="Enq_AnneeVisa" type="xs:unsignedShort" />
              <xs:element name="Enq_NumeroVisa" type="xs:string" />
              <xs:element name="Enq_MinistereTutelle" type="xs:string" />
              <xs:element name="Enq_ParutionJo" type="xs:boolean" />
              <xs:element name="Enq_DateParutionJo" type="xs:string" />
              <xs:element name="Enq_RespOperationnel" type="xs:string" />
              <xs:element name="Enq_RespTraitement" type="xs:string" />
              <xs:element name="Enq_Prestataire" type="xs:boolean" />
              <xs:element name="Enq_LogoPrestataire" />
              <xs:element name="Enq_UrlEnquete" type="xs:string" />
              <xs:element name="Enq_ServiceCollecteurSignataireFonction" 
type="xs:string" />
              <xs:element name="Enq_ServiceCollecteurSignataireNom" 
type="xs:string" />
              <xs:element name="Enq_MailRespOperationnel" type="xs:string" 
/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Partitions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Partition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Dates">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CollectionStartDate" 
type="xs:dateTime" />
                          <xs:element name="CollectionEndDate" 
type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="QuestionnaireModel" type="xs:string" 
/>
                    <xs:element name="QuiRepond1" />
                    <xs:element name="QuiRepond2" />
                    <xs:element name="QuiRepond3" />
                    <xs:element name="Communications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" 
name="Communication">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Protocole" 
type="xs:string" />
                                <xs:element name="MoyenCommunication" 
type="xs:string" />
                                <xs:element name="TypeCommunication" 
type="xs:string" />
                                <xs:element name="ModeleCommunication" 
type="xs:string" />
                                <xs:element name="TypeDate" 
type="xs:string" />
                                <xs:element name="Date" type="xs:dateTime" 
/>
                                <xs:element name="Duree" 
type="xs:duration" />
                                <xs:element name="Objet" type="xs:string" 
/>
                                <xs:element name="BoiteRetour" 
type="xs:string" />
                                <xs:element name="ContenuCommunication">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element 
name="ThemeMieuxConnaitreMail" type="xs:string" />
                                      <xs:element 
name="RelanceLibreMailParagraphe1" type="xs:string" />
                                      <xs:element 
name="RelanceLibreMailParagraphe2" type="xs:string" />
                                      <xs:element 
name="RelanceLibreMailParagraphe3" type="xs:string" />
                                      <xs:element 
name="RelanceLibreMailParagraphe4" />
                                      <xs:element 
name="ComplementConnexion" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Id" type="xs:string" 
use="required" />
                              <xs:attribute name="Label" type="xs:string" 
use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:unsignedByte" 
use="required" />
                  <xs:attribute name="Label" type="xs:string" 
use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Id" type="xs:string" use="required" />
      <xs:attribute name="Label" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
